{% extends 'base.html' %}
{% block content %}

{% load static %}
<link media="all" href="{% static 'nvd3/build/nv.d3.css' %}" type="text/css" rel="stylesheet" />
<script type="text/javascript" src='{% static 'd3/d3.min.js' %}'></script>
<script type="text/javascript" src='{% static 'nvd3/build/nv.d3.min.js' %}'></script>
<button id="get_data" class="btn btn-mini btn-primary" type="button">Get data</button>
{% load nvd3_tags %}

 {% load_chart charttype chartdata "chartcontainer" %}
    {% include_container "scatterchart_container" 400 600 %}

{% endblock %}

{% load static %}
